a{color: #1100ff;}

.img-tutorial-v,.img-tutorial-h{border: #ffffff solid 5px;
display: block;
margin: auto;
box-shadow: 3px 3px 15px #222222;}

.img-tutorial-h{max-width: 40%;}
.img-tutorial-v{max-width: 90%;}

.img-tutorial-leyenda{text-align: center;
font-style: italic;
font-family: serif;
max-width: 450px;
margin: -.25rem auto 1.75rem;
padding-bottom: .5rem;
border-bottom: 1px solid #cccccc;
line-height: 1.1rem;}