a{color: #1100ff;}

.img-tutorial{border: #ffffff solid 5px;
display: block;
margin: auto;
max-height: 450px;
box-shadow: 3px 3px 15px #222222;}

.img-tutorial-leyenda{text-align: center;
font-style: italic;
font-family: serif;
max-width: 40%;
margin: 1.25rem auto 1.75rem;
border-bottom: 1px solid #666666;}