a{color: #1100ff;}

.img-tutorial-v,.img-tutorial-h{border: #ffffff solid 5px;
display: block;
margin: auto;
box-shadow: 3px 3px 15px #222222;}

.img-tutorial-h{max-width: 90%;}
.img-tutorial-v{max-width: 60%;}

.img-tutorial-leyenda{text-align: center;
font-style: italic;
font-family: serif;
max-width: 450px;
margin: -.25rem auto 1.75rem;
padding-bottom: .5rem;
border-bottom: 1px solid #cccccc;
line-height: 1.1rem;}

.video-container{
position: relative;
padding-bottom: 56.25%;
height: 0; 
overflow: hidden;}

.video-container iframe, .video-container object, .video-container embed{position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;}